body{
      background:orange;  
}

#root{
      max-width: 600px;
      margin: 0 auto;
      width: 100%;
}

.todoList{
      .todo{
            label{
                  input[type="checkbox"]{

                  }
                  .name{

                  }
            }
      }
}


.toolbar{
      input{

      }

      .btn{
            &.add{

            }
            &.clear{

            }
      }
}