html {
  height: 100%;
}
body,
html {
  font-family: Poppins, sans-serif;
  color: white;
  font-weight: 400;
}
body {
  background: linear-gradient(45deg, #ffde23, #fc7820);
  background: linear-gradient(215deg, #8b08f7, #460286);
  background-size: cover;
}
body h1 {
  text-align: center;
  color: white;
  font-size: 30px;
  font-weight: 500;
}
#root {
  max-width: 600px;
  margin: 0 auto;
  width: 100%;
}
.todoList {
  padding: 30px;
}
.todoList .todo label input[type="checkbox"] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  background: white;
  border-radius: 50%;
  position: relative;
  top: 6px;
}
.todoList .todo label .name {
  font-size: 30px;
  margin-left: 10px;
}
.toolbar {
  position: absolute;
  bottom: 20px;
  transform: translate(-50%, 0);
  width: 80%;
  left: 50%;
}
.toolbar input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  padding: 10px 20px;
  font-size: 22px;
  width: 100%;
  display: block;
  border: 0;
  box-shadow: none;
  border-radius: 50px;
  box-sizing: border-box;
}
.toolbar .actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  margin-top: 30px;
}
.toolbar .actions .btn {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 0;
  background: #ff0d0d;
  box-shadow: 0 0 10px 0 0 10px #ff0d0d;
  color: white;
  box-shadow: none;
  display: block;
  padding: 5px 5px 10px 5px;
  font-size: 25px;
  font-weight: 500;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  transform: scale(1);
}
.toolbar .actions .btn:active {
  transform: scale(0.9);
}
